/* *{
  border:1px solid darkcyan;
} */
body{
  background-color: #b4d6fe;
}
.App {
  text-align: center;
}
.TodoList{
  margin: 10px;
}
/* 버튼 위치 조정 */
.css-11lq3yg-MuiGrid-root {

  align-items: center;
}

/* 입력창 +버튼 크기 조정 */
.css-jc1r49-MuiButtonBase-root-MuiButton-root {
  height: 55px;
}

.css-ag7rrr-MuiTypography-root{
  text-align: center;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  background-color: white;
}